.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.img-home {
    padding: 2px 4px 2px 4px;
    color: #f0b926;
    height: 43.4px;
}
.main {
    flex: 1;
}

.content {
    padding-block: unset;
    padding-left:unset;
    padding-right:unset;
}

.sidebar {
    background-color: #181A20;
    display: none;
}

.top-row {
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    background-color: #181A20;
}
    .top-row a {
        text-decoration: none;
        cursor: pointer;
        color: #EAECEF;
        cursor: pointer;
        font-size: 14px;
    }
    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        position: absolute;
        left: 0;
        color: #f0b926;
        font-family: 'Raleway',sans-serif;
        font-size: 21px;
        font-weight: 700;
        text-transform: uppercase;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }
    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        display: contents;
    }
    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 760px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

}
