.title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    left: 0;
    bottom: 0;
    width: 15px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #3a0647 !important;
    border-color: #3a0647 !important;
    margin-bottom: 2px;
}

    .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #5a268e !important;
        border-color: #31085a !important;
        margin-bottom: 2px;
    }
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2px;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #fff;
}

th {
    background: #fff;
    color: black;
    font-weight: bold;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    table, thead, tbody, th, td, tr {
        display: block;
    }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
	Label the data
	*/
        td:nth-of-type(1):before {
            content: "ID";
        }

        td:nth-of-type(2):before {
            content: "Full Name";
        }

        td:nth-of-type(3):before {
            content: "Phone";
        }

        td:nth-of-type(4):before {
            content: "VAT";
        }

        td:nth-of-type(5):before {
            content: "Address";
        }

        td:nth-of-type(6):before {
            content: "City";
        }

        td:nth-of-type(7):before {
            content: "Annual Revenue";
        }

        td:nth-of-type(8):before {
            content: "Actions";
        }
}