.title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    left: 0;
    bottom: 0;
    width: 15px;
    background: linear-gradient(135deg, #a7c4dd, #325c81);
}

.search {
    width: 50%;
    float: right;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #325c81 !important;
    border-color: #325c81 !important;
    margin-bottom: 2px;
}

    .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #5d92c0 !important;
        border-color: #5d92c0 !important;
        margin-bottom: 2px;
    }

table {
    width: 100%;
    border: thin;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 1em;
}

    table thead tr {
        background-color: #d6d5d5 !important;
        text-align: left;
        font-size: medium;
        border-start-end-radius: 1em;
    }

    table tbody tr:hover td {
        background-color: #d3e1ee;
    }

tr:nth-of-type(odd) {
    background: #fff;
}

th {
    color: black;
    font-weight: 100;
}

.show-mobile {
    display: none;
}

.fa-user-edit {
    color: #ffc729 !important;
}

.fa-trash {
    color: #f5564a !important;
}

.container-modal-form {
    max-width: 400px;
    width: 85%;
    top: 50%;
    left: 50%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    position: fixed;
    z-index: 11;
    transform: translate(-50%, -50%);
}
.modal-header h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #325c81;
}
.modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}

.text-warning {
    color: #ffc107;
    text-align-last: center;
    padding: 1rem;
}

.overlay-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.table-title {
    padding-bottom: 15px;
    background: #325c81;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
    .table-title h2 {
        margin: 5px 0 0;
        font-size: 24px;
    }

    .table-title .btn {
        color: #fff;
        font-size: 13px;
        border: none;
        border-radius: 2px;
        border: none;
        outline: none !important;
        margin-left: 10px;
    }
.op{
    background-color: #325c81;
    border: none;
}

.btn-mobile {
    display: none;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .table-wrapper {
        display: block;
    }
    .table-title {
        display: block;
    }
        .table-title h2{
            font-size: 22px;
        }
        .table-title .btn{
            font-size: 10px;
            
        }
            .table-title .btn-mobile {
            display: block !important;
        }
    .btn-success{
        display: none;
    }
    .search {
        width: 100%;
    }
    .show-mobile {
        display: flex;
        justify-content: center;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        td:nth-of-type(1):before {
            content: "ID";
        }

        td:nth-of-type(2):before {
            content: "Full Name";
        }

        td:nth-of-type(3):before {
            content: "Phone";
        }

        td:nth-of-type(4):before {
            content: "VAT";
        }

        td:nth-of-type(5):before {
            content: "Address";
        }

        td:nth-of-type(6):before {
            content: "City";
        }

        td:nth-of-type(7):before {
            content: "Annual Revenue";
        }

        td:nth-of-type(8):before {
            content: "Actions";
        }
}
